@font-face {
	font-family: 'Satoshi';
	src: url("./font/Satoshi-Black.otf") format("otf"),
		url("./font/Satoshi-Bold.otf") format("otf"),
		url("./font/Satoshi-Light.otf") format("otf"),
		url("./font/Satoshi-Medium.otf") format("otf"),
		url("./font/Satoshi-Regular.otf") format("otf");
}

html,
body {
	background-color: #FEFFED;
}

body {
	margin-left: 5vw;
	margin-right: 5vw;
	color: #303D21;
	font-family: "Satoshi";
}

main {
	height: 100%;
}

.body__line {
	visibility: hidden;
	position: fixed;
	background-color: #79A671;
	width: 5px;
	height: 100vh;
	top: 0;
	left: 5vw;
}

p {
	font-size: 18px;
}

h1 {
	font-weight: bold;
	margin: 0;
	color: #303D21;
	text-transform: uppercase;
}

h2 {
	font-weight: bold;
}

a {
	color: #79A671;
}


label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@media screen and (min-width: 868px) {
	.body__line {
		visibility: visible;
	}

	body {
		margin-left: 10vw;
	}
}